@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Calibri";
  src: url("/fonts/Calibri.ttf");
}

@font-face {
  font-family: "Piraka";
  src: url("/fonts/piraka-regular.otf");
}

@font-face {
  font-family: "One-Crayon";
  src: url("/fonts/one-crayon-regular.ttf");
}

@font-face {
  font-family: "Winter-Candle";
  src: url("/fonts/winter-candle-regular.ttf");
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "One-Crayon", sans-serif;
}

body {
  font-family: "Calibri", sans-serif;
  font-size: 1.5rem;
  background-color: #272a2d;
}
